@model List<TodoApp.Models.TodoItem>

@*
    Kiegészítettük a View definícióját, hogy képes 
    legyen List<string> típusú adatot fogadni.
    mintha a View egy függvény lenne, és azt mondanánk, hogy:
    View(List<string> Model) vagy
    TodoList<List<string> Model)
*@

@{
    ViewBag.Title = "TodoList";
}

<h2>Bevásárlólista</h2>

@*Kiolvasom a ViewBag-be tárolt információt itt a nézeten*@
@*A megoldás, hogy egy ciklussal kiolvassuk a listából az adatokat, és úgy írjuk a HTML-t*@

<ol>
    @foreach (var todoItem in Model)
    {
        if (todoItem.Done)
        {
            <li><strike>@todoItem.Name</strike></li>
        }
        else
        {
            <li>@todoItem.Name</li>
        }
    }
</ol>
