
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form>
    <input name="Name"/>
    <input type="submit" value="Mentés"/>
    <button>Mentés</button>
</form>

@Html.ActionLink("Rögzítés", "Index")