
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teszt</title>

    @*A külső css állományt hivatkozzuk, hogy betöltse a böngésző*@
    <link rel="stylesheet" type="text/css" href="~/Content/Sajat.css">

</head>
<body class="azureHatter">
    <div class="pirosHatter">
        <h1 class="kekHatter">Ez az oldal címe</h1>
        <div class="kekHatter">
            Ez pedig az oldalon található bármilyen szöveg
        </div>
    </div>
</body>
</html>
