
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Teszt</title>
</head>
<body style="background-color:azure">
    <h1 style="background-color:darkblue">Ez az oldal címe</h1>
    <div style="background-color:crimson"> 
        Ez pedig az oldalon található bármilyen szöveg
    </div>
</body>
</html>
